// Placeholder to allow overriding predefined variables smoothly.
// My colours

$aqua: #4DB6AC;
$yellow: #FFCA28;
$lavender: #9575CD;
$red: #EF5350;
$blue: #42A5F5;
$orange: #FF7043;
$green: #66BB6A;
$pink: #F48FB1;
$grey: #BDBDBD;
$violet: #7E57C2;

// Dark colors
$background-color: #1f1f1f;
$text-color: #fff;
$link-color: #2196f3;
$link-color-hover: #1976d2;

aqua {color: $aqua;}
yellow {color: $yellow;}
lavender {color: $lavender;}
red {color: $red;}
blue {color: $blue;}
orange {color: $orange;}
green {color: $green;}
pink {color: $pink;}
grey {color: $grey;}
violet {color: $violet;}
